<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="AppLogging" type="Cora.Utils.Logger.AppLoggingConfig, Cora.Utils, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />
		<section name="CoraCoreConfig" type="Cora.CoraCoreObj.CoreConfig, Cora.CoraCoreObj, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />
		<section name="WebServiceClientConfig_ZelenaPosta" type="Cora.Web.WebServiceClientConfig, Cora.Web, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />
		<section name="DirectoriesConfig" type="Cora.Global.DirectoriesConfig, Cora.Global, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />
		<section name="EVOClientConfig" type="System.Configuration.NameValueSectionHandler" />
		<section name="DoveraClientConfig" type="System.Configuration.NameValueSectionHandler" />
		<section name="TatraBankaConfig" type="System.Configuration.NameValueSectionHandler" />
		<!--<section name="WebServiceClientConfig" type="Cora.Web.WebServiceClientConfig, Cora.Web, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />-->
	</configSections>
	<appSettings>
		<!-- commiss@itsdev -->
		<add key="ConnectionString" value="COvemMGuO3B/abIPloerj63Bd7PwZrOoYEjn4rZ6XLQJum/mFTUbJkj8T+HUcYWnrlGg3IziKa+f9q3oUF1W9dznuxkHPoylwJZibxxVe+qbVHx7pGsqxhM=" />
		<!-- dis_vyvoj@itpdev -->
		<!--<add key="ConnectionString" value="CPew+25A+JNdPRtffhnQqRnYGK8Xw7jrsBr/moRVuH+CXw8v0IdSPz/nNm3+mNnD+sxrmfwaV9odbU9eWiCMUlrwL15m6Vbq1gBgl4QTfh+aBPhWzd98mzk=" />-->
		<!-- commiss@172.31.80.136:1521/coradb v DEV prostredi -->
		<!--<add key="ConnectionString" value="CK1cUABZLGuC16F7mSE9hCo45QDB1Dk4BA9TVuNXZdLjkkx7WdLJ0O3SU2yf2dF8XweW6lsvA3oXOJBWELwm+1O0V/X7eWRyYfH1tSdmurHpsSDG56PKA4bbL4cCdpYjbV3OzPY5VOMs" />-->
		<add key="ConnectionString" value="Remote" />
		<add key="CoraCoreServiceUrl" value="tcp://srv25:9091" />
		<!--<add key="CoraCoreServiceUrl" value="tcp://localhost:9010" />-->
		<!-- !!! POZOR Toto nastavenie iba vo vyvojovom prostredi, u zakaznikov vypnut alebo odtranit POZOR !!! -->
		<add key="ExtData_ZM_AddIDs" value="1" />	  		
	</appSettings>
	<AppLogging>
		<Logger type="Logger">
			<LogLevel>Finest</LogLevel>
			<Writer type="TextFileLogWriter">
				<LogPath>d:\_log\cIssIss</LogPath>
				<LogNamePrefix>cIssIss</LogNamePrefix>
				<MaxLogFileSizeKB>1024000</MaxLogFileSizeKB>
			</Writer>
		</Logger>
	</AppLogging>
	
	<EVOClientConfig>
		<add key="UserName" value="msptest_pd2nev" />
		<add key="Password" value="CF6hy9A76H00v2wI14mHHVeqlbx9oXVrc81Dt7WDtmHQsHBxKEG6j6Y=" />
		<add key="ExternalUser" value="CORA_TEST" />
	</EVOClientConfig>
	<DoveraClientConfig>
		<!-- <add key="UserName" value="corageo_test"/>  -->
		<add key="DodavatelSW" value="Corageo" />
		<!--  <add key="Password" value="CAOuOOplLhB5ZlkrQsaR0b5j0WnNqCz3Rw=="/>-->
	</DoveraClientConfig>
	<TatraBankaConfig>
		<add key="TB_baseUrl" value="https://api.tatrabanka.sk/premium/sandbox" />
		<add key="TB_redirectUrl" value="http://localhost/Cora.CommIss.Iss/api/tatraBanka" />
		<add key="TB_clientId" value="l72eccbdb62d974f1c978a3ad3a1372ab3" />
		<add key="TB_clientSecret" value="CCdf3iPuR8QkZAZPYCxVoKMaQ2foI0+uVgqkboNHEY0Zvz16Ab475WEk8poKuJBmGrc5Ev0tJHm8" />
		<add key="D_EXPIRACIE" value="180" />
		<!--ad9812ffa02a435eba7ad6479ced8386-->
	</TatraBankaConfig>
	<CoraCoreConfig>
		<Connection TimeAlive="60" />
		<LDAP>ldap://coraltj.sk:389</LDAP>
	</CoraCoreConfig>
	<WebServiceClientConfig_ZelenaPosta Timeout="100" UserName="test.corageo@zelenaposta.sk" Password="CHU19aYWNILDp+PcKURWYokEtlnlUoBW0Q==">
		<WebProxy HostName="192.168.1.8" HostPort="8080" />
	</WebServiceClientConfig_ZelenaPosta>
	<DirectoriesConfig>
		<Temp>d:\_temp\cIssIss</Temp>
	</DirectoriesConfig>
	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<!-- kvoli testovacej webpage-aby bolo mozne zadat XML -->
		<httpRuntime targetFramework="4.8" requestValidationMode="2.0" executionTimeout="90" maxRequestLength="1048576" />
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
	</system.web>
	<system.serviceModel>
		<bindings>
   <basicHttpBinding>
    <binding receiveTimeout="00:02:00" maxBufferSize="52428800" maxReceivedMessageSize="52428800">
     <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
    </binding>
    <binding name="SSLBinding">
     <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
     <security mode="Message">
      <transport clientCredentialType="Basic" />
     </security>
    </binding>
    <binding name="BasicHttpBinding_client" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" transferMode="StreamedResponse">
     <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
    </binding>
    <binding name="SentServiceSoap11">
     <security mode="Transport" />
    </binding>
    <binding name="SentServiceSoap111" />
    <binding name="BasicHttpBinding_IZelenaPostaProvidePrivate" />
    <binding name="PoskytnutieUdajovOvozidleAdrziteloviPortBinding">
     <security mode="Transport">
      <transport clientCredentialType="Basic" />
     </security>
    </binding>
    <binding name="PoskytnutieUdajovOvozidleAdrziteloviPortBinding1" />
    <binding name="SystemServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="SystemServiceSoap1" />
    <binding name="PoistenecServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="PoistenecServiceSoap1" />
    <binding name="PlatitelSoapServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="PlatitelSoapServiceSoap1" />
    <binding name="MesacnyVykazSoapServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="MesacnyVykazSoapServiceSoap1" />
    <binding name="HromadneOznamenieSoapServiceSoap">
     <security mode="Transport" />
    </binding>
    <binding name="HromadneOznamenieSoapServiceSoap1" />
    <binding name="ProductServiceSoap11">
     <security mode="Transport" />
    </binding>
   </basicHttpBinding>
   <customBinding>
    <binding name="WsHttpSoap11" sendTimeout="00:02:00">
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxBufferPoolSize="52428800" maxReceivedMessageSize="52428800" authenticationScheme="Basic" />
    </binding>
    <binding name="SystemServiceSoap">
     <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxReceivedMessageSize="2000000000" />
    </binding>
    <binding name="PoistenecServiceSoap">
     <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxReceivedMessageSize="2000000000" />
    </binding>
    <binding name="PlatitelSoapServiceSoap">
     <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxReceivedMessageSize="2000000000" />
    </binding>
    <binding name="MesacnyVykazSoapServiceSoap">
     <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxReceivedMessageSize="2000000000" />
    </binding>
    <binding name="HromadneOznamenieSoapServiceSoap">
     <security defaultAlgorithmSuite="Default" authenticationMode="UserNameOverTransport" requireDerivedKeys="false" includeTimestamp="false" messageSecurityVersion="WSSecurity10WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10" />
     <textMessageEncoding messageVersion="Soap11" />
     <httpsTransport maxReceivedMessageSize="2000000000" />
    </binding>
   </customBinding>
  </bindings>
		<client>
   <endpoint address="https://gateway.samospravy.zelenaposta.sk/api/mailing" binding="customBinding" bindingConfiguration="WsHttpSoap11" contract="ZelenaPostaRequireClient.Mailing" name="MailingSoap11" />
   <endpoint address="https://gateway.samospravy.zelenaposta.sk/api/2/sent" binding="basicHttpBinding" bindingConfiguration="SentServiceSoap11" contract="ZelenaPostaAPI2RequireClient.SentService" name="SentServiceSoap11" />
   <endpoint address="http://localhost/Cora.CommIss.Iss/Impl/ZelenaPostaProvidePrivate.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZelenaPostaProvidePrivate" contract="ZelenaPostaProvidePrivateClient.IZelenaPostaProvidePrivate" name="BasicHttpBinding_IZelenaPostaProvidePrivate" />
   <endpoint address="http://srv25.coraltj.sk/CommIss_Support/EVoService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_client" contract="EVOClient.IPoskytnutieUdajovOvozidleAdrzitelovi" name="PoskytnutieUdajovOvozidleAdrziteloviPort" />
   <endpoint address="https://teasc.dovera.sk:443/csp/esb/ESB.Service.WS.B2B.V02.System.cls" binding="customBinding" bindingConfiguration="SystemServiceSoap" contract="DoveraSystemClient.SystemServiceSoap" name="SystemServiceSoap1" />
   <endpoint address="https://teasc.dovera.sk:443/csp/esb/ESB.Service.WS.B2B.V02.Poistenec.cls" binding="customBinding" bindingConfiguration="PoistenecServiceSoap" contract="DoveraPoistenecClient.PoistenecServiceSoap" name="PoistenecServiceSoap" />
   <endpoint address="https://teasc.dovera.sk:443/csp/esb/ESB.Service.WS.B2B.V02.HPP.Platitel.cls" binding="customBinding" bindingConfiguration="PlatitelSoapServiceSoap" contract="DoveraPlatitelClient.PlatitelSoapServiceSoap" name="PlatitelSoapServiceSoap" />
   <endpoint address="https://teasc.dovera.sk:443/csp/esb/ESB.Service.WS.B2B.V02.HPP.MesacnyVykaz.cls" binding="customBinding" bindingConfiguration="MesacnyVykazSoapServiceSoap" contract="DoveraMesacnyVykazClient.MesacnyVykazSoapServiceSoap"    name="MesacnyVykazSoapServiceSoap" />
   <endpoint address="https://teasc.dovera.sk:443/csp/esb/ESB.Service.WS.B2B.V02.HPP.HromadneOznamenie.cls" binding="customBinding" bindingConfiguration="HromadneOznamenieSoapServiceSoap" contract="DoveraHromadneOznamenieClient.HromadneOznamenieSoapServiceSoap" name="HromadneOznamenieSoapServiceSoap" />
   <endpoint address="https://gateway.samospravy.zelenaposta.sk/api/2/product" binding="basicHttpBinding" bindingConfiguration="ProductServiceSoap11" contract="ZelenaPostaAPI2ProductRequireClient.ProductService" name="ProductServiceSoap11" />
  </client>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- DEBUG: v produkcii vypnut -->
					<serviceDebug includeExceptionDetailInFaults="true" />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</serviceBehaviors>
			<endpointBehaviors>
				<behavior>
					<!-- odkomentovat pre logovanie obsahu WCF sprav -->
					<messageLoggingBehavior />
					<dataContractSerializer maxItemsInObjectGraph="2147483647" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="messageLoggingBehavior" type="Cora.Web.Wcf.MessageLoggingBehavior, Cora.Web, Version=4.8.0.0, Culture=neutral, PublicKeyToken=80AB63AD4CD8C4BF" />
			</behaviorExtensions>
		</extensions>
		<services>
			<service name="Cora.CommIss.Iss.Impl.ExtDataProvide">
				<endpoint address="" binding="basicHttpBinding" contract="Cora.CommIss.Iss.IExtDataProvide" />
				<!--Povolenie SSL HTTPS-->
				<!--<endpoint address="" binding="basicHttpBinding" contract="Cora.CommIss.Iss.IExtDataProvide" bindingConfiguration="SSLBinding" />-->
			</service>
		</services>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
			<!-- tuto sekciu vyplname ako alternativu k *.svc suborom; nevyhoda tohto sposobu: nevidno ich v Add Service Reference discovery
           POZOR: na windows server 2008/2012 je pripadne potrebne doinstalovat WCF HTTP Activation, vid:
           https://stackoverflow.com/questions/11116134/wcf-on-iis8-svc-handler-mapping-doesnt-work
       -->
			<serviceActivations>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Connection/ConnectionProvide.svc" service="Cora.CommIss.Connection.ConnectionProvide" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/TLZProvidePrivate.svc" service="Cora.CommIss.Iss.Impl.TLZProvidePrivate" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/ExtDataProvide.svc" service="Cora.CommIss.Iss.Impl.ExtDataProvide" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/ZelenaPostaProvidePrivate.svc" service="Cora.CommIss.Iss.Impl.ZelenaPostaProvidePrivate" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/DMSProvide.svc" service="Cora.CommIss.Iss.Impl.DMSProvide" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Evo/PoskytnutieUdajovEVOProvidePrivate.svc" service="Cora.CommIss.Iss.Impl.PoskytnutieUdajovEVOProvidePrivate" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/GScanReceiveProvide.svc" service="Cora.CommIss.Iss.Impl.GScanReceiveProvide" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/DoveraProvidePrivate.svc" service="Cora.CommIss.Iss.Impl.DoveraProvidePrivate" />
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./Impl/TatraBankaService.svc" service="Cora.CommIss.Iss.Impl.TatraBankaService" />				
			</serviceActivations>
		</serviceHostingEnvironment>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<!-- DEBUG: v produkcii vypnut -->
		<directoryBrowse enabled="true" />
		<handlers>
		  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
		  <remove name="OPTIONSVerbHandler" />
		  <remove name="TRACEVerbHandler" />
		  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>		
	</system.webServer>
<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy>
      <proxy proxyaddress="http://192.168.1.8:8080" bypassonlocal="false" />
    </defaultProxy>
  </system.net>	
</configuration>